*{
    margin:0;
    padding: 0;
}

/* 
    Colors
    Main: #FAF1E4 
    Second: #CEDEBD 
    Highlight: #9EB384
*/

.navbar {
    position: sticky;
    overflow: hidden;
    top:0;
    width: 100%;
    background-color: #CEDEBD;
    height: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navLinks {
    display:flex;
    justify-content: center;
}
.navUL {
    list-style: none;
    display:flex;
}
.navUL a {
    text-decoration: none;
    color: inherit;
}

.navLI{
    font-size:larger;
    font-weight: 400;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.navLI:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.aboutMeMain {
    padding:2rem;
    width: 100%;
    height: 80vh;
    background-image: url("./image/bgImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.tableBody{
    width: 80%;
    padding-left: 1rem;
}

table{
    border-collapse: collapse;
    width: 80%;
}
  
th, td{
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #9EB384;
}
tr{
    border: solid 1px black;
}


.aboutMeMain{
    display: flex;
}

.AboutMeStory{
    width: 50%;
}